
<div id="footer-wrapper">
  <div class="footer-wrapper-inner">
    <!-- Copyright -->
    <div id="copyright" role="contentinfo">
      <div class="row-container">
        <div class="container-fluid">
          <div class="row-fluid">

            <div class="copyright span12">
              Copyright © 2011 - 2021 FPT Telecom
            </div>
            <!-- {%FOOTER_LINK} -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="back-top" style="display: block;">
  <a href="javascript:void()"><span> </span> </a>
</div>
