
<div id="footer">
  <div class="row-container">
    <div class="container-fluid">
      <div class="row-fluid">

        <div class="moduletable span4">

          <h6 class="widget-title heading-style-6">Liên hệ </h6>
          <div class="widget-content">
            <p><img alt="" src="https://fpt123.net/uploads/images/icon/logo/fpt_logo.png" style="width:200px"></p>

            <ul>
              <li>CÔNG TY CP VIỄN THÔNG FPT</li>
              <li>Hotline: <a href="tel: 0964954222">0964.954.222</a></li>
              <li>Thời gian làm việc: Thứ 2 - CN</li>
              <li><a href="https://fpt123.net/dia-chi-vpgd.html">Văn phòng giao dịch FPT Telecom</a></li>
            </ul>
          </div>

        </div>

        <div class="moduletable span4">

          <h6 class="widget-title heading-style-6">Dịch vụ - Sản phẩm</h6>
          <div class="widget-content">
            <ul>
              <li>Internet cáp quang FPT</li>
              <li>FPT Play Box+</li>
            </ul>
          </div>

        </div>

        <div class="moduletable span4">

          <h6 class="widget-title heading-style-6">Kết nối</h6>
          <div class="widget-content">
            <p>FPT Telecom</p>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>