
@{
  Layout=null;
}

<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml" xml:lang="vi" lang="vi" style="transform: none;">
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8">

  <meta name="viewport" content="width=device-width, height=device-height,initial-scale=1.0, user-scalable=no,user-scalable=0">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="FPT123">
  <link rel="manifest" href="https://fpt123.net/manifest.json">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="theme-color" content="#f46f20">
  <title>Đăng ký internet FPT</title>
  <meta name="description" content="Đăng ký Internet FPT tại nhà là dịch vụ hoàn toàn miễn phí.">
  <meta name="keywords" content="Đăng ký Internet FPT, dang ky internet fpt, dang ky internet, đăng ký Internet, đăng ký FPT, dang ky fpt">

  <meta property="fb:app_id" content="1445819765695140">
  <meta property="fb:admins" content="100000033675775">
  <meta property="og:url" content="https://fpt123.net/dang-ky-internet.html">
  <meta property="og:locale" content="vi_VN">
  <meta property="og:type" content="website">
  <meta property="og:image" content="/uploads/images/cap-quang-fpt/cap-quang-fpt.jpg">
  <meta property="og:title" content="Đăng ký internet FPT">
  <meta property="og:description" content="Đăng ký Internet FPT tại nhà là dịch vụ hoàn toàn miễn phí.">
  <meta property="article:publisher" content="https://www.facebook.com/fpt123">
  <meta property="article:author" content="https://www.facebook.com/fpt123">
  <link rel="amphtml" href="https://fpt123.net/amp/dang-ky-internet.html">

  <meta name="google-site-verification" content="yW91G6JGJsQKhUSN-J8cKl1hpI_SXm8xbWbJDAkLvK4">
  <link rel="icon" href="https://fpt123.net/images/logo-fpt123.png">
  <link rel="icon" sizes="128x128" href="https://fpt123.net/images/icons/logo-fpt123-128.png">
  <link rel="icon" sizes="512x512" href="https://fpt123.net/images/icons/logo-fpt123-512.png">
  <link rel="apple-touch-icon" sizes="512" href="https://fpt123.net/images/icons/logo-fpt123-512.png">
  <link rel="apple-touch-icon" sizes="128" href="https://fpt123.net/images/icons/logo-fpt123-128.png">
  <link rel="apple-touch-icon-precomposed" sizes="512" href="https://fpt123.net/images/icons/logo-fpt123-512.png">
  <link rel="apple-touch-icon-precomposed" sizes="128" href="https://fpt123.net/images/icons/logo-fpt123-128.png">
  <link rel="stylesheet" href="https://fpt123.net/theme/fpt123/css/layout.css" type="text/css">

  @*<link rel="stylesheet" href="https://fpt123.net/theme/fpt123/css/template.css?v=24" type="text/css">
	<link rel="stylesheet" href="https://fpt123.net/theme/fpt123/css/font-awesome.css" type="text/css">*@
  <link href="~/Content/font-awesome.css" rel="stylesheet" />
  <link href="~/Content/templatev24.css" rel="stylesheet" />

  <link rel="stylesheet" href="https://fpt123.net/theme/fpt123/css/material-design.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400italic,400,500,500italic,700,700italic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://fpt123.net/theme/fpt123/css/komento.css" type="text/css">
  <link rel="stylesheet" href="https://fpt123.net/theme/fpt123/modules/mod_socialloginandsocialshare/lrstyle.css" type="text/css">
  <link rel="stylesheet" href="https://fpt123.net/theme/fpt123/modules/mod_tm_style_switcher/css/style.css" type="text/css">

  @*<link rel="stylesheet" href="https://fpt123.net/theme/fpt123/css/color_schemes/color_scheme_1.css?v=2030" type="text/css" id="color_scheme">*@
  <link href="~/Content/color_scheme_1v2030.css" rel="stylesheet" id="color_scheme" />

  <link rel="stylesheet" href="https://fpt123.net/theme/fpt123/css/owl-carousel.css" type="text/css">
  <link rel="stylesheet" href="https://fpt123.net/theme/fpt123/modules/mod_tm_parallax/css/rd-parallax.css" type="text/css">
  <link rel="stylesheet" href="https://fpt123.net/theme/fpt123/css/swiper.css" type="text/css">
  <link rel="stylesheet" href="https://fpt123.net/theme/fpt123/modules/mod_swiper/css/animate.css" type="text/css">
  <link rel="stylesheet" href="https://fpt123.net/theme/fpt123/html/mod_icemegamenu/css/navbar.css" type="text/css">
  <link rel="stylesheet" href="https://fpt123.net/hotline/hotline.css?v=14" type="text/css">
  <script src="https://connect.facebook.net/vi_VN/sdk.js?hash=900637a4a5305f5895cfc30d20707777&amp;ua=modern_es6" async="" crossorigin="anonymous"></script>
  <script async="" src="https://fpt123.net//stc.za.zaloapp.com/v3/za.js?18738"></script>
  <script async="" src="https://www.google-analytics.com/analytics.js"></script>
  <script type="text/javascript" async="" src="https://cdn.superweb.vn/js/adwtracking.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://fpt123.net/theme/fpt123/media/jui/js/jquery.min.js" type="text/javascript"></script>
  <script src="https://fpt123.net/theme/fpt123/media/jui/js/jquery-noconflict.js" type="text/javascript"></script>
  <script src="https://fpt123.net/theme/fpt123/media/jui/js/jquery-migrate.min.js" type="text/javascript"></script>
  <script src="https://fpt123.net/theme/fpt123/media/jui/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="https://fpt123.net/theme/fpt123/media/jui/js/chosen.jquery.min.js" type="text/javascript"></script>
  <script src="https://fpt123.net/theme/fpt123/js/scripts.js" type="text/javascript"></script>

  <script src="https://fpt123.net/theme/fpt123/modules/mod_owl_carousel/js/jquery.owl-carousel.js" type="text/javascript"></script>
  <script src="https://fpt123.net/theme/fpt123/modules/mod_tm_parallax/js/jquery.rd-parallax.js" type="text/javascript"></script>
  <script src="https://fpt123.net/theme/fpt123/modules/mod_swiper/js/swiper.min.js" type="text/javascript"></script>
  <script src="https://fpt123.net/theme/fpt123/html/mod_icemegamenu/js/menu.js" type="text/javascript" defer="defer"></script>

  @*<script src="https://fpt123.net/theme/fpt123/html/mod_icemegamenu/js/jquery.rd-navbar.js?v=4" type="text/javascript" defer="defer"></script>*@
  <script src="~/Scripts/jquery.rd-navbar.js"></script>

  <script src="https://fpt123.net/theme/fpt123/js/rating.js" type="text/javascript" defer="defer"></script>

  <link href="~/Content/customv200.css" rel="stylesheet" />
  @*<link rel="stylesheet" href="https://fpt123.net/theme/fpt123/css/custom.css?v=200">*@
  <script src="https://fpt123.net/theme/fpt123/js/theia-sticky-sidebar.js?ver=4.5.2" type="text/javascript"></script>
  <script src="https://fpt123.net/theme/fpt123/js/custom.js?v=62" type="text/javascript"></script>

  <link href="~/Content/flatsome.css" rel="stylesheet" />

  @*<script src="https://fpt123.net/stringee/socket.io-2.2.0.js" type="text/javascript"></script>
	<script src="https://fpt123.net/stringee/StringeeSDK-1.5.10.js" type="text/javascript"></script>*@


  <script>
	if ("serviceWorker" in navigator) {
	  navigator.serviceWorker.register("/worker.js").then(function (reg) {
		console.log("register worker", reg);
	  }).catch(function (err) {
		console.log("err", err);
	  });
	}
  </script>
  @*<script type="application/ld+json">
	  {
	  "@@context" : "http://schema.org",
	  "@@type" : "WebSite",
	  "name" : "FPT123",
	  "url" : "https://fpt123.net/",
	  "potentialAction" : {
	  "@@type" : "SearchAction",
	  "target" : "https://fpt123.net/tim-kiem.html?term={search_term}",
	  "query-input" : "required name=search_term"
	  }
	  }
	</script>*@
  <script>
	window.addEventListener('beforeinstallprompt', function (e) {
	  // beforeinstallprompt Event fired

	  // e.userChoice will return a Promise.
	  // For more details read: https://developers.google.com/web/fundamentals/getting-started/primers/promises
	  e.userChoice.then(function (choiceResult) {

		console.log(choiceResult.outcome);

		if (choiceResult.outcome == 'dismissed') {
		  console.log('User cancelled home screen install');
		} else {
		  console.log('User da them web va home screen');
		}
	  });
	});
  </script>
  <style>
	:root {
	--primaryColor: #f46f20;
	--primaryBackground: #f46f20;
	}

	#breadcrumbs, .subtitle, #top, .sidebar .box h5, .box-title, .nav.menu.social li a, .suntory-alo-phone.suntory-alo-green .suntory-alo-ph-img-circle, .icemegamenu > ul > li > a.iceMenuTitle:before {
	background: #f46f20 !important;
	background-color: #f46f20 !important;
	}

	#footer .mod-article-single span, #back-top a, #comment-click a, ul.info li a.material-design-headset12:before {
	color: #f46f20;
	}

	#back-top a, .suntory-alo-phone.suntory-alo-green .suntory-alo-ph-circle, .suntory-alo-phone.suntory-alo-green .suntory-alo-ph-circle-fill {
	border: 2px solid #f46f20;
	}

	.primaryCustomColor {
	color: #f46f20 !important;
	}

	.primaryCustomBorder2 {
	border-left: 2px solid #f46f20 !important;
	border-right: 2px solid #f46f20 !important;
	border-bottom: 2px solid #f46f20 !important;
	}

	.primaryCustomBackground {
	background: #f46f20 !important;
	}
  </style>
  <style type="text/css" media="screen">


	.fullwidth ul.icesubMenu.sub_level_1 > li {
	padding: 0;
	}

	.page-item ul, .page-item ol {
	margin-left: 50px;
	}

	.page-item ol {
	list-style-type: decimal;
	}

	.page-item ol li {
	padding-left: 5px;
	}

	.page-item ol li + li {
	margin-top: 5px;
	}

	ul.listcomment {
	margin-left: 0;
	}

	.bootstrap-tabs {
	margin-bottom: 20px
	}

	.bootstrap-tabs ul.nav-tabs {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-left: 0;
	padding-bottom: 0;
	border: 0;
	background: none;
	margin-left: 0;
	padding-bottom: 0;
	font-size: initial;
	margin-bottom: 0;
	display: flex;
	justify-content: center;
	overflow-y: hidden;
	overflow-x: auto;
	white-space: nowrap;
	}

	.bootstrap-tabs ul.nav-tabs::-webkit-scrollbar {
	height: 2px
	}

	.bootstrap-tabs ul.nav-tabs::-webkit-scrollbar-thumb {
	background: #f46f20
	}

	.bootstrap-tabs .nav-tabs > .active > a, .bootstrap-tabs .nav-tabs > .current > a, .bootstrap-tabs .nav-tabs > li > a:hover {
	border-bottom: 0
	}

	.bootstrap-tabs .nav-tabs li a {
	font-size: 18px;
	line-height: 18px;
	padding: 5px 25px;
	border-bottom: 0
	}

	.bootstrap-tabs .nav-tabs li span {
	padding: 0 5px;
	}

	.bootstrap-tabs .nav-tabs > li {
	margin-right: 0;
	}

	.bootstrap-tabs .nav-tabs > li.active, .bootstrap-tabs .nav-tabs > li:hover {
	background: #e2e2e25c;
	margin-bottom: 0px;
	border-top: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
	border-left: 1px solid #e4e4e4;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	}

	.bootstrap-tabs .nav-tabs > li.active a {
	color: #4cb746;
	}

	.bootstrap-tabs .nav-tabs > li {
	cursor: pointer;
	}

	.bootstrap-tabs .tab-content {
	font-size: inherit;
	line-height: inherit;
	border: 1px solid #e4e4e4;
	padding: 10px;
	overflow: auto;
	background: #e2e2e25c;
	margin-top: -1px;
	}

	@@media screen and (max-width: 600px) {
	.bootstrap-tabs ul.nav-tabs {
	justify-content: left;
	}

	.nav-tabs:before, .nav-tabs:after {
	clear: both;
	position: absolute;
	color: #60b9eb;
	font-size: 1.5em;
	line-height: inherit;
	}

	.nav-tabs.arrow_right:after {
	content: '\276F';
	right: 5px;
	}

	.nav-tabs.arrow_left:before {
	content: '\276E';
	left: 5px
	}
	}

	.span9.page-content {
	width: 72.999925%
	}

	.span3.sidebar {
	width: 26.999975%;
	padding-left: 10px;
	}

	@@media screen and (max-width: 800px) {

	.span9.page-content {
	width: 100%
	}

	.span3.sidebar {
	width: 100%;
	}
	}

	.sidebar .box h5, .box-title {
	padding-left: 10px
	}

	.page-content fieldset {
	padding: 10px 20px;
	margin: 20px 0;
	border: 2px solid #f46e20;
	border-radius: 10px;
	}

	.page-content legend {
	display: block;
	width: auto;
	padding: 0 5px;
	margin-bottom: 20px;
	font-size: 22px;
	line-height: 0;
	color: #f36d20;
	border: 0;
	border-bottom: none;
	font-weight: 600;
	margin-left: 20px;
	}

	.contentCSS {
	margin: 15px 0;
	}
  </style>

  <script type="text/javascript">

	$(document).ready(function () {
	  var tabs = $(".nav-tabs");
	  var tabs_scroll = $(".nav-tabs").width();
	  tabs.addClass('arrow_right');

	  $(".nav-tabs").on("scroll", function (e) {
		horizontal = (e.currentTarget.scrollLeft + 53);

		tabs.addClass('arrow_left').addClass('arrow_right');

		if (horizontal == 53) {

		  tabs.removeClass('arrow_left');
		}

		if (horizontal >= tabs_scroll) {

		  tabs.removeClass('arrow_right');

		}
	  });


	});

  </script>

  <script type="text/javascript">
	var sw_id = "67703";
	(function () {
	  var s = document.getElementsByTagName("script")[0];
	  var b = document.createElement("script");
	  b.type = "text/javascript"; b.async = true;
	  b.src = "https://cdn.superweb.vn/js/adwtracking.js";
	  s.parentNode.insertBefore(b, s);
	})();
  </script>

  <style>
	.theiaStickySidebar:after {
	content: "";
	display: table;
	clear: both;
	}
  </style>



  <style>
	.zChat[_ngcontent-lud-c39] {
	position: fixed;
	right: 10px;
	bottom: 0;
	z-index: 99999999999
	}

	.opened.zChat[_ngcontent-lud-c39], .zChat.opened[_ngcontent-lud-c39] {
	height: 550px;
	width: 350px
	}

	.opened.zChat[_ngcontent-lud-c39], .zChat.closed[_ngcontent-lud-c39], .zChat.opened[_ngcontent-lud-c39] {
	max-width: 100%;
	animation: zChatOpen .25s ease !important;
	-webkit-animation: zChatOpen .25s ease !important
	}

	.zChat.closed[_ngcontent-lud-c39] {
	height: 40px;
	width: 200px
	}

	.zChat[_ngcontent-lud-c39] .window[_ngcontent-lud-c39] {
	height: 100%;
	display: flex;
	flex-direction: column
	}

	.zChat[_ngcontent-lud-c39] .window[_ngcontent-lud-c39] .am-navbar[_ngcontent-lud-c39] {
	background-color: #3884ff;
	color: #fff;
	height: 60px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	cursor: pointer
	}

	.closed.zChat[_ngcontent-lud-c39] .window[_ngcontent-lud-c39] .am-navbar[_ngcontent-lud-c39], .zChat.closed[_ngcontent-lud-c39] .window[_ngcontent-lud-c39] .am-navbar[_ngcontent-lud-c39] {
	height: 100%
	}

	.closed.zChat[_ngcontent-lud-c39] .window[_ngcontent-lud-c39] .am-navbar[_ngcontent-lud-c39] .am-navbar-right[_ngcontent-lud-c39], .zChat.closed[_ngcontent-lud-c39] .window[_ngcontent-lud-c39] .am-navbar[_ngcontent-lud-c39] .am-navbar-right[_ngcontent-lud-c39] {
	display: none;
	visibility: hidden
	}

	.zChat[_ngcontent-lud-c39] .window[_ngcontent-lud-c39] .am-navbar[_ngcontent-lud-c39] .am-navbar-left[_ngcontent-lud-c39] {
	padding-left: 15px;
	font-size: 16px;
	flex: 2
	}

	.closed.zChat[_ngcontent-lud-c39] .window[_ngcontent-lud-c39] .am-navbar[_ngcontent-lud-c39] .am-navbar-left[_ngcontent-lud-c39], .zChat.closed[_ngcontent-lud-c39] .window[_ngcontent-lud-c39] .am-navbar[_ngcontent-lud-c39] .am-navbar-left[_ngcontent-lud-c39] {
	flex: 10
	}

	.zChat[_ngcontent-lud-c39] .window[_ngcontent-lud-c39] .am-navbar[_ngcontent-lud-c39] .logo[_ngcontent-lud-c39] img[_ngcontent-lud-c39] {
	width: 40px;
	vertical-align: middle
	}

	.closed.zChat[_ngcontent-lud-c39] .window[_ngcontent-lud-c39] .am-navbar[_ngcontent-lud-c39] .logo[_ngcontent-lud-c39] img[_ngcontent-lud-c39], .zChat.closed[_ngcontent-lud-c39] .window[_ngcontent-lud-c39] .am-navbar[_ngcontent-lud-c39] .logo[_ngcontent-lud-c39] img[_ngcontent-lud-c39] {
	width: 30px
	}

	.zChat[_ngcontent-lud-c39] .window[_ngcontent-lud-c39] .am-navbar[_ngcontent-lud-c39] .company[_ngcontent-lud-c39] {
	padding-left: 10px
	}

	.zChat[_ngcontent-lud-c39] .window[_ngcontent-lud-c39] .am-navbar[_ngcontent-lud-c39] .company[_ngcontent-lud-c39] .name[_ngcontent-lud-c39] {
	font-weight: 600
	}

	.zChat[_ngcontent-lud-c39] .window[_ngcontent-lud-c39] .am-navbar[_ngcontent-lud-c39] .company[_ngcontent-lud-c39] .slogan[_ngcontent-lud-c39] {
	opacity: .7;
	font-size: .8em
	}

	.zChat[_ngcontent-lud-c39] .window[_ngcontent-lud-c39] .am-navbar[_ngcontent-lud-c39] .rightContent[_ngcontent-lud-c39] {
	width: 40px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer
	}

	.zChat[_ngcontent-lud-c39] .window[_ngcontent-lud-c39] .message-list[_ngcontent-lud-c39] {
	height: 100%;
	overflow-y: auto;
	border-left: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
	background-color: #f5f5f9;
	overflow-x: hidden
	}

	.zChat[_ngcontent-lud-c39] .window[_ngcontent-lud-c39] .message-list[_ngcontent-lud-c39]::-webkit-scrollbar {
	width: 4px
	}

	.zChat[_ngcontent-lud-c39] .window[_ngcontent-lud-c39] .inputArea[_ngcontent-lud-c39] {
	height: 70px;
	display: flex;
	border-top: 1px solid #ececec;
	border-left: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8
	}

	.zChat[_ngcontent-lud-c39] .window[_ngcontent-lud-c39] .inputArea[_ngcontent-lud-c39] .input[_ngcontent-lud-c39] {
	width: 100%;
	flex: 1;
	padding-top: 10px;
	padding-bottom: 9px;
	padding-left: 10px
	}

	.zChat[_ngcontent-lud-c39] .window[_ngcontent-lud-c39] .inputArea[_ngcontent-lud-c39] .input[_ngcontent-lud-c39] textarea[_ngcontent-lud-c39] {
	color: #000;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
	padding: 0;
	border: 0;
	background-color: transparent;
	overflow: visible;
	display: block;
	resize: none;
	word-break: break-word;
	font-size: 14px;
	font-family: Roboto
	}

	.zChat[_ngcontent-lud-c39] .window[_ngcontent-lud-c39] .inputArea[_ngcontent-lud-c39] .btn-action[_ngcontent-lud-c39] {
	width: 50px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center
	}

	.zChat[_ngcontent-lud-c39] .window[_ngcontent-lud-c39] .inputArea[_ngcontent-lud-c39] .btn-action[_ngcontent-lud-c39] button[_ngcontent-lud-c39] {
	width: 100%;
	background: none;
	border: none
	}

	.zChat[_ngcontent-lud-c39] .window[_ngcontent-lud-c39] .inputArea[_ngcontent-lud-c39] .btn-action[_ngcontent-lud-c39] button[_ngcontent-lud-c39] svg[_ngcontent-lud-c39] {
	width: 30px;
	height: 100%;
	fill: #b7b7b7
	}

	.zChat[_ngcontent-lud-c39] .message-list[_ngcontent-lud-c39] ul.listChat[_ngcontent-lud-c39] {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0
	}

	.zChat[_ngcontent-lud-c39] .message-list[_ngcontent-lud-c39] .list[_ngcontent-lud-c39] [class*=list_][_ngcontent-lud-c39] {
	display: flex;
	align-items: center
	}

	.zChat[_ngcontent-lud-c39] .message-list[_ngcontent-lud-c39] li.list[_ngcontent-lud-c39] {
	padding: 0 10px;
	margin-bottom: 6px;
	-webkit-animation: zChatOpen .25s ease !important;
	animation: zChatOpen .25s ease !important
	}

	.zChat[_ngcontent-lud-c39] .message-list[_ngcontent-lud-c39] li.list.right[_ngcontent-lud-c39] {
	justify-content: flex-end;
	align-items: center
	}

	.zChat[_ngcontent-lud-c39] .message-list[_ngcontent-lud-c39] li.list.left[_ngcontent-lud-c39], .zChat[_ngcontent-lud-c39] .message-list[_ngcontent-lud-c39] li.list.right[_ngcontent-lud-c39] {
	align-items: flex-end;
	display: flex;
	margin: 10px 9px 10px 8px;
	position: relative
	}

	.zChat[_ngcontent-lud-c39] .message-list[_ngcontent-lud-c39] li.list.private[_ngcontent-lud-c39] {
	display: none;
	visibility: hidden
	}

	.list[_ngcontent-lud-c39] .list_body[_ngcontent-lud-c39] p[_ngcontent-lud-c39] {
	background: linear-gradient(#fdfdfd,#f4f4f4);
	border: 1px solid #e0e0e0;
	box-shadow: inset 0 1px 0 #fff;
	border-radius: 5px;
	color: #828080;
	font-size: 14px;
	padding: 5px 10px;
	text-shadow: 0 1px 0 hsla(0,0%,100%,.5);
	display: inline-block;
	margin: 0;
	position: relative;
	line-height: 17px;
	white-space: pre-wrap;
	word-wrap: break-word;
	max-width: 260px;
	text-transform: none;
	padding: 5px !important
	}

	.list.right[_ngcontent-lud-c39] .list_body[_ngcontent-lud-c39] p[_ngcontent-lud-c39] {
	background: linear-gradient(#3884ff,#3884ff);
	color: #fff;
	border: none;
	box-shadow: none;
	text-shadow: none
	}

	li.list[_ngcontent-lud-c39] .userPhoto[_ngcontent-lud-c39] {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 10px
	}

	li.list[_ngcontent-lud-c39] .userPhoto[_ngcontent-lud-c39] img[_ngcontent-lud-c39] {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 1px solid #a5a5a5
	}

	.list.left[_ngcontent-lud-c39] .list_body[_ngcontent-lud-c39] p[_ngcontent-lud-c39] {
	background: linear-gradient(#e4e4e4,#e6e6e6);
	border: none;
	box-shadow: none;
	border-radius: 5px;
	color: #3e3e3e;
	font-size: 13px;
	padding: 5px 10px;
	text-shadow: none;
	word-wrap: break-word;
	display: inline-block;
	margin: 0;
	position: relative;
	line-height: 17px
	}

	.list.left[_ngcontent-lud-c39] .list_body[_ngcontent-lud-c39] p[_ngcontent-lud-c39]:before {
	content: "";
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 6px solid #e5e5e5;
	height: 0;
	left: -6px;
	position: absolute
	}

	.list.left[_ngcontent-lud-c39] .list_body[_ngcontent-lud-c39] p[_ngcontent-lud-c39]:after {
	border-right: 5px solid #e5e5e5;
	left: -5px
	}

	.list.left[_ngcontent-lud-c39] .list_body[_ngcontent-lud-c39] p[_ngcontent-lud-c39]:after, .list.right[_ngcontent-lud-c39] .list_body[_ngcontent-lud-c39] p[_ngcontent-lud-c39]:before {
	content: "";
	position: absolute;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	height: 0;
	top: 5px
	}

	.list.right[_ngcontent-lud-c39] .list_body[_ngcontent-lud-c39] p[_ngcontent-lud-c39]:before {
	border-left: 6px solid #3884ff;
	right: -6px
	}

	.list.right[_ngcontent-lud-c39] .list_body[_ngcontent-lud-c39] p[_ngcontent-lud-c39]:after {
	content: "";
	position: absolute;
	border-top: 5px solid transparent;
	border-left: 5px solid #3884ff;
	border-bottom: 5px solid transparent;
	height: 0;
	right: -4px;
	top: 5px
	}

	.list.center[_ngcontent-lud-c39] {
	width: 100%;
	display: flex;
	justify-content: center
	}

	.list.center[_ngcontent-lud-c39] .list_body[_ngcontent-lud-c39] p[_ngcontent-lud-c39] {
	background: none;
	border: none;
	box-shadow: none;
	font-size: 11px
	}

	@@media (max-width:700px) {
	.zChat.opened[_ngcontent-lud-c39] {
	height: 100%;
	width: 100%;
	right: 0;
	position: fixed;
	z-index: 999999
	}
	}

	@@keyframes zChatOpen {
	0% {
	opacity: 0;
	transform: translateY(30px)
	}

	to {
	opacity: 1;
	transform: translate(0)
	}
	}

	@@-webkit-keyframes zChatOpen {
	0% {
	opacity: 0;
	transform: translateY(30px)
	}

	to {
	opacity: 1;
	transform: translate(0)
	}
	}

	@@keyframes notify {
	0% {
	margin-top: 0
	}

	50% {
	margin-top: 2px
	}

	to {
	margin-top: 0
	}
	}

	@@-webkit-keyframes notify {
	0% {
	margin-top: 0
	}

	50% {
	margin-top: 2px
	}

	to {
	margin-top: 0
	}
	}

	.float-icon[_ngcontent-lud-c39] {
	right: 20px;
	position: fixed;
	bottom: 100px
	}

	.float-icon[_ngcontent-lud-c39] ul[_ngcontent-lud-c39] {
	display: flex;
	flex-direction: column;
	list-style: none
	}

	.float-icon[_ngcontent-lud-c39] ul[_ngcontent-lud-c39] li[_ngcontent-lud-c39] {
	padding: 5px 0;
	cursor: pointer;
	position: relative
	}

	.float-icon[_ngcontent-lud-c39] ul[_ngcontent-lud-c39] li[_ngcontent-lud-c39] span[_ngcontent-lud-c39] {
	display: none
	}

	.float-icon[_ngcontent-lud-c39] img[_ngcontent-lud-c39] {
	width: 60px
	}

	.action-custom[_ngcontent-lud-c39] {
	display: flex;
	flex-direction: row;
	height: 60px;
	align-items: flex-start;
	justify-content: space-around;
	background: #e6e6e6;
	border-bottom: 1px solid #e0e0e0
	}

	.action-custom[_ngcontent-lud-c39] .top-button[_ngcontent-lud-c39] {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	cursor: pointer;
	color: #676767 !important
	}

	.action-custom[_ngcontent-lud-c39] .top-button[_ngcontent-lud-c39] img[_ngcontent-lud-c39] {
	width: 20px;
	height: 20px
	}

	.action-custom[_ngcontent-lud-c39] .top-button[_ngcontent-lud-c39] span[_ngcontent-lud-c39] {
	font-size: 10px
	}

	.custom-message[_ngcontent-lud-c39] {
	position: absolute;
	right: 50px;
	min-width: 200px;
	color: #fff
	}

	.custom-message[_ngcontent-lud-c39] .chat-welcome[_ngcontent-lud-c39] {
	background: #ff9252;
	text-transform: none;
	border-radius: 10px;
	width: auto;
	padding: 5px 15px 5px 5px;
	cursor: pointer;
	animation: zChatOpen .25s ease !important;
	-webkit-animation: zChatOpen .25s ease !important
	}

	.custom-message[_ngcontent-lud-c39] .chat-welcome[_ngcontent-lud-c39] .c[_ngcontent-lud-c39] {
	display: flex;
	align-items: center
	}

	.custom-message[_ngcontent-lud-c39] .chat-welcome[_ngcontent-lud-c39]:after {
	content: "";
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 15px solid #ff9252;
	height: 0;
	right: -10px;
	position: absolute;
	top: 5px
	}

	.custom-message[_ngcontent-lud-c39] .chat-welcome[_ngcontent-lud-c39] .c[_ngcontent-lud-c39] .c-photo[_ngcontent-lud-c39] {
	width: 50px;
	margin-right: 10px;
	height: 30px
	}

	.custom-message[_ngcontent-lud-c39] .chat-welcome[_ngcontent-lud-c39] .c[_ngcontent-lud-c39] .c-photo[_ngcontent-lud-c39] img[_ngcontent-lud-c39] {
	border: 2px solid #fff;
	border-radius: 50%;
	width: 100%;
	height: 100%
	}

	.custom-message[_ngcontent-lud-c39] .chat-welcome[_ngcontent-lud-c39] p[_ngcontent-lud-c39] {
	line-height: 15px
	}

	.notifyCount[_ngcontent-lud-c39] {
	animation: notify .5s;
	-moz-animation: notify .8s infinite;
	-webkit-animation: notify .8s infinite
	}

	@@media (max-width:740px) {
	.float-icon[_ngcontent-lud-c39] {
	right: 0;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	background: #e6e6e6
	}

	.float-icon[_ngcontent-lud-c39] ul[_ngcontent-lud-c39] {
	flex-direction: row;
	list-style: none;
	align-items: flex-start;
	justify-content: space-around
	}

	.float-icon[_ngcontent-lud-c39] ul[_ngcontent-lud-c39], .float-icon[_ngcontent-lud-c39] ul[_ngcontent-lud-c39] li[_ngcontent-lud-c39] {
	display: flex;
	width: 100%;
	height: 100%
	}

	.float-icon[_ngcontent-lud-c39] ul[_ngcontent-lud-c39] li[_ngcontent-lud-c39] {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0
	}

	.float-icon[_ngcontent-lud-c39] ul[_ngcontent-lud-c39] li[_ngcontent-lud-c39] img[_ngcontent-lud-c39] {
	width: 50px
	}

	.float-icon[_ngcontent-lud-c39] ul[_ngcontent-lud-c39] li[_ngcontent-lud-c39] span[_ngcontent-lud-c39] {
	display: initial;
	font-size: 11px
	}

	.custom-message[_ngcontent-lud-c39] {
	display: none;
	visibility: hidden
	}

	.zChat[_ngcontent-lud-c39] .window[_ngcontent-lud-c39] .am-navbar[_ngcontent-lud-c39] {
	border-top-left-radius: 0;
	border-top-right-radius: 0
	}

	.opened.zChat[_ngcontent-lud-c39] .window[_ngcontent-lud-c39] .message-list[_ngcontent-lud-c39], .zChat.opened[_ngcontent-lud-c39] .window[_ngcontent-lud-c39] .message-list[_ngcontent-lud-c39] {
	height: 100% !important
	}
	}

	.callingScreen[_ngcontent-lud-c39] {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center
	}

	.callingScreen[_ngcontent-lud-c39] .logo[_ngcontent-lud-c39] {
	width: 100%;
	height: 150px;
	color: #bbb
	}

	.callingScreen[_ngcontent-lud-c39] .logo[_ngcontent-lud-c39] img[_ngcontent-lud-c39] {
	border-radius: 50%;
	border: 1px solid #fff
	}

	.callingAction[_ngcontent-lud-c39] {
	height: 100px;
	padding: 20px 0;
	display: flex;
	justify-content: center;
	align-items: center
	}

	.callingAction[_ngcontent-lud-c39] .btn-red[_ngcontent-lud-c39] {
	background: linear-gradient(262.92deg,#ff8087 6.49%,#ef3b67 108.73%);
	box-shadow: 0 4px 24px rgba(176,43,67,.25);
	width: 55px;
	height: 55px;
	border-radius: 3rem;
	border: none;
	cursor: pointer
	}

	.callingAction[_ngcontent-lud-c39] .btn-action-incomming[_ngcontent-lud-c39] img[_ngcontent-lud-c39] {
	width: 20px
	}

	.callFreeModal-buttons[_ngcontent-lud-c39] button[_ngcontent-lud-c39] {
	margin: 5px 0;
	min-height: 40px;
	background: #fff;
	border: 1px solid #e2e2e2;
	border-radius: 8px;
	color: #03a9f4;
	cursor: pointer
	}

	.callFreeModal-buttons[_ngcontent-lud-c39] .primary-btn[_ngcontent-lud-c39] {
	background: #4caf50;
	border: none;
	color: #fff;
	font-weight: 600
	}

	.callFreeModal-buttons[_ngcontent-lud-c39] {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 10px 0
	}
  </style>

  <style type="text/css" data-fbcssmodules="css:fb.css.basecss:fb.css.dialog css:fb.css.iframewidget css:fb.css.customer_chat_plugin_iframe">
	.fb_hidden {
	position: absolute;
	top: -10000px;
	z-index: 10001
	}

	.fb_reposition {
	overflow: hidden;
	position: relative
	}

	.fb_invisible {
	display: none
	}

	.fb_reset {
	background: none;
	border: 0;
	border-spacing: 0;
	color: #000;
	cursor: auto;
	direction: ltr;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: 1;
	margin: 0;
	overflow: visible;
	padding: 0;
	text-align: left;
	text-decoration: none;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	visibility: visible;
	white-space: normal;
	word-spacing: normal
	}

	.fb_reset > div {
	overflow: hidden
	}

	@@keyframes fb_transform {
	from {
	opacity: 0;
	transform: scale(.95)
	}

	to {
	opacity: 1;
	transform: scale(1)
	}
	}

	.fb_animate {
	animation: fb_transform .3s forwards
	}

	.fb_dialog {
	background: rgba(82, 82, 82, .7);
	position: absolute;
	top: -10000px;
	z-index: 10001
	}

	.fb_dialog_advanced {
	border-radius: 8px;
	padding: 10px
	}

	.fb_dialog_content {
	background: #fff;
	color: #373737
	}

	.fb_dialog_close_icon {
	background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;
	cursor: pointer;
	display: block;
	height: 15px;
	position: absolute;
	right: 18px;
	top: 17px;
	width: 15px
	}

	.fb_dialog_mobile .fb_dialog_close_icon {
	left: 5px;
	right: auto;
	top: 5px
	}

	.fb_dialog_padding {
	background-color: transparent;
	position: absolute;
	width: 1px;
	z-index: -1
	}

	.fb_dialog_close_icon:hover {
	background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent
	}

	.fb_dialog_close_icon:active {
	background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent
	}

	.fb_dialog_iframe {
	line-height: 0
	}

	.fb_dialog_content .dialog_title {
	background: #6d84b4;
	border: 1px solid #365899;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	margin: 0
	}

	.fb_dialog_content .dialog_title > span {
	background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;
	float: left;
	padding: 5px 0 7px 26px
	}

	body.fb_hidden {
	height: 100%;
	left: 0;
	margin: 0;
	overflow: visible;
	position: absolute;
	top: -10000px;
	transform: none;
	width: 100%
	}

	.fb_dialog.fb_dialog_mobile.loading {
	background: url(https://static.xx.fbcdn.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;
	min-height: 100%;
	min-width: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: 10001
	}

	.fb_dialog.fb_dialog_mobile.loading.centered {
	background: none;
	height: auto;
	min-height: initial;
	min-width: initial;
	width: auto
	}

	.fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner {
	width: 100%
	}

	.fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content {
	background: none
	}

	.loading.centered #fb_dialog_loader_close {
	clear: both;
	color: #fff;
	display: block;
	font-size: 18px;
	padding-top: 20px
	}

	#fb-root #fb_dialog_ipad_overlay {
	background: rgba(0, 0, 0, .4);
	bottom: 0;
	left: 0;
	min-height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 10000
	}

	#fb-root #fb_dialog_ipad_overlay.hidden {
	display: none
	}

	.fb_dialog.fb_dialog_mobile.loading iframe {
	visibility: hidden
	}

	.fb_dialog_mobile .fb_dialog_iframe {
	position: sticky;
	top: 0
	}

	.fb_dialog_content .dialog_header {
	background: linear-gradient(from(#738aba), to(#2c4987));
	border-bottom: 1px solid;
	border-color: #043b87;
	box-shadow: white 0 1px 1px -1px inset;
	color: #fff;
	font: bold 14px Helvetica, sans-serif;
	text-overflow: ellipsis;
	text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0;
	vertical-align: middle;
	white-space: nowrap
	}

	.fb_dialog_content .dialog_header table {
	height: 43px;
	width: 100%
	}

	.fb_dialog_content .dialog_header td.header_left {
	font-size: 12px;
	padding-left: 5px;
	vertical-align: middle;
	width: 60px
	}

	.fb_dialog_content .dialog_header td.header_right {
	font-size: 12px;
	padding-right: 5px;
	vertical-align: middle;
	width: 60px
	}

	.fb_dialog_content .touchable_button {
	background: linear-gradient(from(#4267B2), to(#2a4887));
	background-clip: padding-box;
	border: 1px solid #29487d;
	border-radius: 3px;
	display: inline-block;
	line-height: 18px;
	margin-top: 3px;
	max-width: 85px;
	padding: 4px 12px;
	position: relative
	}

	.fb_dialog_content .dialog_header .touchable_button input {
	background: none;
	border: none;
	color: #fff;
	font: bold 12px Helvetica, sans-serif;
	margin: 2px -12px;
	padding: 2px 6px 3px 6px;
	text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0
	}

	.fb_dialog_content .dialog_header .header_center {
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
	text-align: center;
	vertical-align: middle
	}

	.fb_dialog_content .dialog_content {
	background: url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;
	border: 1px solid #4a4a4a;
	border-bottom: 0;
	border-top: 0;
	height: 150px
	}

	.fb_dialog_content .dialog_footer {
	background: #f5f6f7;
	border: 1px solid #4a4a4a;
	border-top-color: #ccc;
	height: 40px
	}

	#fb_dialog_loader_close {
	float: left
	}

	.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon {
	visibility: hidden
	}

	#fb_dialog_loader_spinner {
	animation: rotateSpinner 1.2s linear infinite;
	background-color: transparent;
	background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	height: 24px;
	width: 24px
	}

	@@keyframes rotateSpinner {
	0% {
	transform: rotate(0deg)
	}

	100% {
	transform: rotate(360deg)
	}
	}

	.fb_iframe_widget {
	display: inline-block;
	position: relative
	}

	.fb_iframe_widget span {
	display: inline-block;
	position: relative;
	text-align: justify
	}

	.fb_iframe_widget iframe {
	position: absolute
	}

	.fb_iframe_widget_fluid_desktop, .fb_iframe_widget_fluid_desktop span, .fb_iframe_widget_fluid_desktop iframe {
	max-width: 100%
	}

	.fb_iframe_widget_fluid_desktop iframe {
	min-width: 220px;
	position: relative
	}

	.fb_iframe_widget_lift {
	z-index: 1
	}

	.fb_iframe_widget_fluid {
	display: inline
	}

	.fb_iframe_widget_fluid span {
	width: 100%
	}

	.fb_mpn_mobile_landing_page_slide_out {
	animation-duration: 200ms;
	animation-name: fb_mpn_landing_page_slide_out;
	transition-timing-function: ease-in
	}

	.fb_mpn_mobile_landing_page_slide_out_from_left {
	animation-duration: 200ms;
	animation-name: fb_mpn_landing_page_slide_out_from_left;
	transition-timing-function: ease-in
	}

	.fb_mpn_mobile_landing_page_slide_up {
	animation-duration: 500ms;
	animation-name: fb_mpn_landing_page_slide_up;
	transition-timing-function: ease-in
	}

	.fb_mpn_mobile_bounce_in {
	animation-duration: 300ms;
	animation-name: fb_mpn_bounce_in;
	transition-timing-function: ease-in
	}

	.fb_mpn_mobile_bounce_out {
	animation-duration: 300ms;
	animation-name: fb_mpn_bounce_out;
	transition-timing-function: ease-in
	}

	.fb_mpn_mobile_bounce_out_v2 {
	animation-duration: 300ms;
	animation-name: fb_mpn_fade_out;
	transition-timing-function: ease-in
	}

	.fb_customer_chat_bounce_in_v2 {
	animation-duration: 300ms;
	animation-name: fb_bounce_in_v2;
	transition-timing-function: ease-in
	}

	.fb_customer_chat_bounce_in_from_left {
	animation-duration: 300ms;
	animation-name: fb_bounce_in_from_left;
	transition-timing-function: ease-in
	}

	.fb_customer_chat_bounce_out_v2 {
	animation-duration: 300ms;
	animation-name: fb_bounce_out_v2;
	transition-timing-function: ease-in
	}

	.fb_customer_chat_bounce_out_from_left {
	animation-duration: 300ms;
	animation-name: fb_bounce_out_from_left;
	transition-timing-function: ease-in
	}

	.fb_customer_chat_bubble_animated_no_badge {
	box-shadow: 0 3px 12px rgba(0, 0, 0, .15);
	transition: box-shadow 150ms linear
	}

	.fb_customer_chat_bubble_animated_no_badge:hover {
	box-shadow: 0 5px 24px rgba(0, 0, 0, .3)
	}

	.fb_customer_chat_bubble_animated_with_badge {
	box-shadow: -5px 4px 14px rgba(0, 0, 0, .15);
	transition: box-shadow 150ms linear
	}

	.fb_customer_chat_bubble_animated_with_badge:hover {
	box-shadow: -5px 8px 24px rgba(0, 0, 0, .2)
	}

	.fb_invisible_flow {
	display: inherit;
	height: 0;
	overflow-x: hidden;
	width: 0
	}

	.fb_new_ui_mobile_overlay_active {
	overflow: hidden
	}

	@@keyframes fb_mpn_landing_page_slide_in {
	0% {
	border-radius: 50%;
	margin: 0 24px;
	width: 60px
	}

	40% {
	border-radius: 18px
	}

	100% {
	margin: 0 12px;
	width: 100% - 24px
	}
	}

	@@keyframes fb_mpn_landing_page_slide_in_from_left {
	0% {
	border-radius: 50%;
	left: 12px;
	margin: 0 24px;
	width: 60px
	}

	40% {
	border-radius: 18px
	}

	100% {
	left: 12px;
	margin: 0 12px;
	width: 100% - 24px
	}
	}

	@@keyframes fb_mpn_landing_page_slide_out {
	0% {
	margin: 0 12px;
	width: 100% - 24px
	}

	60% {
	border-radius: 18px
	}

	100% {
	border-radius: 50%;
	margin: 0 24px;
	width: 60px
	}
	}

	@@keyframes fb_mpn_landing_page_slide_out_from_left {
	0% {
	left: 12px;
	width: 100% - 24px
	}

	60% {
	border-radius: 18px
	}

	100% {
	border-radius: 50%;
	left: 12px;
	width: 60px
	}
	}

	@@keyframes fb_mpn_landing_page_slide_up {
	0% {
	bottom: 0;
	opacity: 0
	}

	100% {
	bottom: 24px;
	opacity: 1
	}
	}

	@@keyframes fb_mpn_bounce_in {
	0% {
	opacity: .5;
	top: 100%
	}

	100% {
	opacity: 1;
	top: 0
	}
	}

	@@keyframes fb_mpn_fade_out {
	0% {
	bottom: 30px;
	opacity: 1
	}

	100% {
	bottom: 0;
	opacity: 0
	}
	}

	@@keyframes fb_mpn_bounce_out {
	0% {
	opacity: 1;
	top: 0
	}

	100% {
	opacity: .5;
	top: 100%
	}
	}

	@@keyframes fb_bounce_in_v2 {
	0% {
	opacity: 0;
	transform: scale(0, 0);
	transform-origin: bottom right
	}

	50% {
	transform: scale(1.03, 1.03);
	transform-origin: bottom right
	}

	100% {
	opacity: 1;
	transform: scale(1, 1);
	transform-origin: bottom right
	}
	}

	@@keyframes fb_bounce_in_from_left {
	0% {
	opacity: 0;
	transform: scale(0, 0);
	transform-origin: bottom left
	}

	50% {
	transform: scale(1.03, 1.03);
	transform-origin: bottom left
	}

	100% {
	opacity: 1;
	transform: scale(1, 1);
	transform-origin: bottom left
	}
	}

	@@keyframes fb_bounce_out_v2 {
	0% {
	opacity: 1;
	transform: scale(1, 1);
	transform-origin: bottom right
	}

	100% {
	opacity: 0;
	transform: scale(0, 0);
	transform-origin: bottom right
	}
	}

	@@keyframes fb_bounce_out_from_left {
	0% {
	opacity: 1;
	transform: scale(1, 1);
	transform-origin: bottom left
	}

	100% {
	opacity: 0;
	transform: scale(0, 0);
	transform-origin: bottom left
	}
	}

	@@keyframes fb_bounce_out_v2_mobile_chat_started {
	0% {
	opacity: 1;
	top: 0
	}

	100% {
	opacity: 0;
	top: 20px
	}
	}

	@@keyframes fb_customer_chat_bubble_bounce_in_animation {
	0% {
	bottom: 6pt;
	opacity: 0;
	transform: scale(0, 0);
	transform-origin: center
	}

	70% {
	bottom: 18pt;
	opacity: 1;
	transform: scale(1.2, 1.2)
	}

	100% {
	transform: scale(1, 1)
	}
	}

	@@keyframes slideInFromBottom {
	0% {
	opacity: .1;
	transform: translateY(100%)
	}

	100% {
	opacity: 1;
	transform: translateY(0)
	}
	}

	@@keyframes slideInFromBottomDelay {
	0% {
	opacity: 0;
	transform: translateY(100%)
	}

	97% {
	opacity: 0;
	transform: translateY(100%)
	}

	100% {
	opacity: 1;
	transform: translateY(0)
	}
	}
  </style>




</head>
<body class="body__home option-com_content view-category task- itemid-101 at-sticky-sidebar" style="transform: none;">
  <div id="fb-root" class=" fb_reset"><div style="position: absolute; top: -10000px; width: 0px; height: 0px;"><div></div></div></div>
  <div id="wrapper" style="transform: none;">
	<div class="wrapper-inner" style="transform: none;">






	  <div id="header">
	    <div class="row-container visible-first">
	      <div class="container-fluid">
	        <div class="row-fluid">
	          <!-- Logo -->
	          <div id="logo" class="span2">
	            <a id="logoLink" href="https://fpt123.net">
	              <img id="logosrc" src="https://fpt123.net/uploads/fpt_logo33.png" alt="">

	            </a>


	          </div>

	          <nav class="moduletable home_menu  span10">
	            <div class="module_container">
	              <div class="icemegamenu">


	                <ul id="icemegamenu">
	                  <li id="iceMenu_1" class="iceMenuLiLevel_1 ">
	                    <a href="/" class="iceMenuTitle ">
	                      <span class="icemega_title icemega_nosubtitle">Trang chủ</span>
	                    </a>
	                  </li>

	                  <li id="iceMenu_3" class="iceMenuLiLevel_1 mzr-drop parent  fullwidth">
	                    <a href="https://fpt123.net/fpt-play-box.html" class="iceMenuTitle ">
	                      <span class="icemega_title icemega_nosubtitle">Internet cáp quang FPT</span>
	                    </a>
	                    <ul class="icesubMenu icemodules sub_level_1" style="width:280px">
	                      <li>
	                        <div style="width:280px" class="iceCols">
	                          <ul>
	                            <li id="iceMenu_336" class="iceMenuLiLevel_2 ">
	                              <a href="https://fpt123.net/fpt-play-box-s550.html" class=" iceMenuTitle ">
	                                <span class="icemega_title icemega_nosubtitle">FPT Play Box+ S550</span>
	                              </a>
	                            </li>

	                          </ul>
	                        </div>
	                      </li>
	                      <li>
	                        <div style="width:280px" class="iceCols">
	                          <ul>
	                            <li id="iceMenu_336" class="iceMenuLiLevel_2 ">
	                              <a href="https://fpt123.net/fpt-play-box-s400.html" class=" iceMenuTitle ">
	                                <span class="icemega_title icemega_nosubtitle">FPT Play Box+ S400</span>
	                              </a>
	                            </li>

	                          </ul>
	                        </div>
	                      </li>
	                      <li>
	                        <div style="width:280px" class="iceCols">
	                          <ul>
	                            <li id="iceMenu_336" class="iceMenuLiLevel_2 ">
	                              <a href="https://fpt123.net/fpt-play-box-s335.html" class=" iceMenuTitle ">
	                                <span class="icemega_title icemega_nosubtitle">FPT Play Box S335</span>
	                              </a>
	                            </li>

	                          </ul>
	                        </div>
	                      </li>
	                    </ul>
	                  </li>

	                  <li id="iceMenu_4" class="iceMenuLiLevel_1 mzr-drop parent  fullwidth">
	                    <a href="https://fpt123.net/camera-fpt.html" class="iceMenuTitle ">
	                      <span class="icemega_title icemega_nosubtitle">FPT Play Box+</span>
	                    </a>
	                    <ul class="icesubMenu icemodules sub_level_1" style="width:280px">
	                      <li>
	                        <div style="width:280px" class="iceCols">
	                          <ul>
	                            <li id="iceMenu_336" class="iceMenuLiLevel_2 ">
	                              <a href="https://fpt123.net/camera-fpt/camera-fpt-indoor-trong-nha.html" class=" iceMenuTitle ">
	                                <span class="icemega_title icemega_nosubtitle">Camera FPT Indoor </span>
	                              </a>
	                            </li>

	                          </ul>
	                        </div>
	                      </li>
	                      <li>
	                        <div style="width:280px" class="iceCols">
	                          <ul>
	                            <li id="iceMenu_336" class="iceMenuLiLevel_2 ">
	                              <a href="https://fpt123.net/camera-fpt/camera-fpt-outdoor-ngoai-troi.html" class=" iceMenuTitle ">
	                                <span class="icemega_title icemega_nosubtitle">Camera FPT Outdoor</span>
	                              </a>
	                            </li>

	                          </ul>
	                        </div>
	                      </li>
	                    </ul>
	                  </li>

	                  <li id="iceMenu_7" class="iceMenuLiLevel_1 ">
	                    <a href="https://fpt123.net/lien-he.html" class="iceMenuTitle ">
	                      <span class="icemega_title icemega_nosubtitle">Liên hệ</span>
	                    </a>
	                  </li>



	                </ul>

	              </div>
	            </div>
	          </nav>
	        </div>
	      </div>
	    </div>
	  </div>


	  <div id="showcase">
	    <div class="moduletable ">
	      <div class="module_container">

	        <p style="text-align:center"></p>
	        <p class="aligncenter">
	          @*<img alt="Lắp đặt cáp quang FPT 2019" longdesc="Lắp đặt cáp quang FPT 2019" src="https://fpt123.net/uploads/images/banner/lap-dat-cap-quang-fpt-2019.png" style="width: 100%;" title="Lắp đặt cáp quang FPT 2019">*@
	          <img alt="Lắp đặt cáp quang FPT 2019" longdesc="Lắp đặt cáp quang FPT 2019" src="~/Content/wwed-new-1024x517.jpg" style="width: 100%;display: block;max-width:1020px;
    margin-left: auto;
    margin-right: auto; margin-top:65px;" title="Lắp đặt cáp quang FPT 2019">
	        </p>
	        <p></p>

	        <!-- #region comment slide -->
	        @*<div id="swiper-slider_210" class="swiper-container swiper-slider swiper-container-horizontal" data-min-height="420px" data-height="44.921875%" data-autoplay="false" data-loop="true" data-slide-effect="slide" style="height: 780.742px;">
			<div class="swiper-wrapper" style="transform: translate3d(-6952px, 0px, 0px); transition-duration: 0ms;">
			  <div class="swiper-slide swiper-slide-duplicate" data-slide-bg="https://fpt123.net/theme/fpt123/images/slider/slide-1.jpg" data-swiper-slide-index="0" style="background-image: url(&quot;https://fpt123.net/theme/fpt123/images/slider/slide-1.jpg&quot;); background-size: cover; width: 1738px;">
				<div class="swiper-slide-caption not-animated" data-caption-animate="fadeIn" data-caption-delay="200">
				  <div class="camera_caption ">




					<div class="title">
					  <strong>FPT PLAY BOX</strong>
					  <span>TV BOX HÀNG ĐẦU VIỆT NAM</span>
					</div>

					<p>
					  Truy cập Internet ngay trên Tivi<br>
					  Không cước thuê bao tháng<br>
					  Dùng cho tất cả các nhà mạng
					</p>

					<a href="/fpt-play-box.html" class="btn material-design-right244">Xem chi tiết</a>
					<img src="/uploads/images/fpt-play-box/thiet-bi-giai-tri-fpt-play-box.png" class="position">
					<!-- <img src="https://fpt123.net/theme/fpt123/images/slider/thumb-1.png" class="position" alt=""/>	 -->
					<!-- Read More link -->

				  </div>
				</div>
			  </div>
			  <div class="swiper-slide swiper-slide-duplicate" data-slide-bg="https://fpt123.net/theme/fpt123/images/slider/slide-3.jpg" data-swiper-slide-index="1" style="background-image: url(&quot;https://fpt123.net/theme/fpt123/images/slider/slide-3.jpg&quot;); background-size: cover; width: 1738px;">
				<div class="swiper-slide-caption not-animated" data-caption-animate="fadeIn" data-caption-delay="200">
				  <div class="camera_caption ">




					<div class="title">
					  <strong>CHÍNH SÁCH VÀ THỦ TỤC</strong>
					  <span>CÁC THỦ TỤC CẦN BIẾT CHO KHÁCH HÀNG ĐANG SỬ DỤNG INTERNET FPT</span>
					</div>

					<p>Chuyển địa điểm, chuyển gói cước, chuyển tên hợp đồng, đổi - mua thiết bị Modem</p>

					<a href="ho-tro-ky-thuat/chinh-sach-thu-tuc.html" class="btn material-design-right244">Xem chi tiết</a>

					<img src="https://fpt123.net/theme/fpt123/images/slider/thumb-3.png" class="position" alt="">
					<!-- Read More link -->

				  </div>
				</div>
			  </div>
			  <div class="swiper-slide" data-slide-bg="https://fpt123.net/theme/fpt123/images/slider/slide-1.jpg" data-swiper-slide-index="0" style="background-image: url(&quot;https://fpt123.net/theme/fpt123/images/slider/slide-1.jpg&quot;); background-size: cover; width: 1738px;">
				<div class="swiper-slide-caption not-animated" data-caption-animate="fadeIn" data-caption-delay="200">
				  <div class="camera_caption ">




					<div class="title">
					  <strong>FPT PLAY BOX</strong>
					  <span>TV BOX HÀNG ĐẦU VIỆT NAM</span>
					</div>

					<p>
					  Truy cập Internet ngay trên Tivi<br>
					  Không cước thuê bao tháng<br>
					  Dùng cho tất cả các nhà mạng
					</p>

					<a href="/fpt-play-box.html" class="btn material-design-right244">Xem chi tiết</a>
					<img src="/uploads/images/fpt-play-box/thiet-bi-giai-tri-fpt-play-box.png" class="position">
					<!-- <img src="https://fpt123.net/theme/fpt123/images/slider/thumb-1.png" class="position" alt=""/>	 -->
					<!-- Read More link -->

				  </div>
				</div>
			  </div>
			  <div class="swiper-slide swiper-slide-prev" data-slide-bg="https://fpt123.net/theme/fpt123/images/slider/slide-3.jpg" data-swiper-slide-index="1" style="background-image: url(&quot;https://fpt123.net/theme/fpt123/images/slider/slide-3.jpg&quot;); background-size: cover; width: 1738px;">
				<div class="swiper-slide-caption not-animated" data-caption-animate="fadeIn" data-caption-delay="200">
				  <div class="camera_caption ">




					<div class="title">
					  <strong>CHÍNH SÁCH VÀ THỦ TỤC</strong>
					  <span>CÁC THỦ TỤC CẦN BIẾT CHO KHÁCH HÀNG ĐANG SỬ DỤNG INTERNET FPT</span>
					</div>

					<p>Chuyển địa điểm, chuyển gói cước, chuyển tên hợp đồng, đổi - mua thiết bị Modem</p>

					<a href="ho-tro-ky-thuat/chinh-sach-thu-tuc.html" class="btn material-design-right244">Xem chi tiết</a>

					<img src="https://fpt123.net/theme/fpt123/images/slider/thumb-3.png" class="position" alt="">
					<!-- Read More link -->

				  </div>
				</div>
			  </div>
			  <div class="swiper-slide swiper-slide-duplicate swiper-slide-active" data-slide-bg="https://fpt123.net/theme/fpt123/images/slider/slide-1.jpg" data-swiper-slide-index="0" style="background-image: url(&quot;https://fpt123.net/theme/fpt123/images/slider/slide-1.jpg&quot;); background-size: cover; width: 1738px;">
				<div class="swiper-slide-caption fadeIn animated" data-caption-animate="fadeIn" data-caption-delay="200">
				  <div class="camera_caption ">




					<div class="title">
					  <strong>FPT PLAY BOX</strong>
					  <span>TV BOX HÀNG ĐẦU VIỆT NAM</span>
					</div>

					<p>
					  Truy cập Internet ngay trên Tivi<br>
					  Không cước thuê bao tháng<br>
					  Dùng cho tất cả các nhà mạng
					</p>

					<a href="/fpt-play-box.html" class="btn material-design-right244">Xem chi tiết</a>
					<img src="/uploads/images/fpt-play-box/thiet-bi-giai-tri-fpt-play-box.png" class="position">
					<!-- <img src="https://fpt123.net/theme/fpt123/images/slider/thumb-1.png" class="position" alt=""/>	 -->
					<!-- Read More link -->

				  </div>
				</div>
			  </div>

			  <div class="swiper-slide swiper-slide-duplicate swiper-slide-next" data-slide-bg="https://fpt123.net/theme/fpt123/images/slider/slide-3.jpg" data-swiper-slide-index="1" style="background-image: url(&quot;https://fpt123.net/theme/fpt123/images/slider/slide-3.jpg&quot;); background-size: cover; width: 1738px;">
				<div class="swiper-slide-caption not-animated" data-caption-animate="fadeIn" data-caption-delay="200">
				  <div class="camera_caption ">




					<div class="title">
					  <strong>CHÍNH SÁCH VÀ THỦ TỤC</strong>
					  <span>CÁC THỦ TỤC CẦN BIẾT CHO KHÁCH HÀNG ĐANG SỬ DỤNG INTERNET FPT</span>
					</div>

					<p>Chuyển địa điểm, chuyển gói cước, chuyển tên hợp đồng, đổi - mua thiết bị Modem</p>

					<a href="ho-tro-ky-thuat/chinh-sach-thu-tuc.html" class="btn material-design-right244">Xem chi tiết</a>

					<img src="https://fpt123.net/theme/fpt123/images/slider/thumb-3.png" class="position" alt="">
					<!-- Read More link -->

				  </div>
				</div>
			  </div>

			</div>
			<!-- Swiper Navigation -->
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		  </div>*@

	        <!-- #endregion -->

	      </div>
	    </div>
	  </div>

	  <div id="feature">
	    <div class="row-container visible-first">
	      <div class="container-fluid">
	        <div class="row-fluid">



	          <div class="moduletable pricing_detailed  span12">

	            <div class="module_container">
	              <h1 style="text-align:center" class="heading-style-1 visible-first">ĐĂNG KÝ INTERNET CÁP QUANG FPT</h1>

	              <p style="text-align:center">Cáp quang FPT sử dụng công nghệ FTTH mới với tốc độ vượt trội và ổn định hơn hẳn so với mạng cáp quang thông thường bảo mật luôn ở mức tối đa</p>

	              <div class="cols-3 mod-newsflash-adv mod-newsflash-adv__pricing_detailed" id="module_225">
	                <div class="row-fluid">
	                  <div class="item_content"><!-- Item title --></div>
	                </div>
	              </div>
	            </div>


	            <div class="row">


	              <div id="col-1308898585" class="col medium-3 small-12 large-3">
	                <div class="col-inner">



	                  <div class="pricing-table-wrapper">
	                    <div class="pricing-table ux_price_table text-center box-shadow-3 box-shadow-3-hover">
	                      <div class="pricing-table-header">
	                        <div class="title uppercase strong">Gói 30M</div>
	                        <div class="price is-xxlarge">30 Mbps</div>
	                      </div>
	                      <div class="pricing-table-items items">


	                        <p><b><span style="color: #ed1c24;"><span style="color: #00a859; ">Giá cước :</span><br /> 175.000 VNĐ/ Tháng</span>&nbsp;</b><br /><span style="color: #00a859;"><b>MODEM Wifi 4 Cổng <br /><span style="color: #ff6600;">Miễn Phí</span></b></span></p>
	                        <div class="bullet-item" title=""><span class="text">Trả từng tháng : Mất phí lắp đặt 110.000 VNĐ</span></div>

	                        <div class="bullet-item" title=""><span class="text">Trả trước 6 tháng : Miễn phí lắp đặt + tặng thêm 01 tháng</span></div>

	                        <div class="bullet-item" title=""><span class="text">Trả trước 12 tháng : Miễn phí lắp đặt&nbsp; + tặng thêm 02 tháng</span></div>

	                        <a href="tel:0964954222" target="_self" class="button primary is-outline" style="border-radius:99px;">
	                          <span>Bấm Đăng ký</span>
	                        </a>



	                      </div>
	                    </div>
	                  </div>



	                </div>
	              </div>



	              <div id="col-2117428522" class="col medium-3 small-12 large-3">
	                <div class="col-inner">



	                  <div class="pricing-table-wrapper">
	                    <div class="pricing-table ux_price_table text-center box-shadow-3 box-shadow-3-hover">
	                      <div class="pricing-table-header">
	                        <div class="title uppercase strong">GÓI 80M</div>
	                        <div class="price is-xxlarge">80 Mbps</div>
	                      </div>
	                      <div class="pricing-table-items items">


	                        <p><b><span style="color: #ed1c24;"><span style="color: #00a859;">Giá cước :</span><br /> 185.000 VNĐ/ Tháng </span></b><br /><span style="color: #00a859;"><b>MODEM Wifi 4 Cổng <br /><span style="color: #ff6600;">Miễn Phí</span></b></span></p>
	                        <div class="bullet-item" title=""><span class="text">Trả từng tháng : Mất Phí lắp đặt 110.000 VNĐ</span></div>

	                        <div class="bullet-item" title=""><span class="text">Trả trước 6 tháng : Miễn phí lắp đặt + tặng thêm 01 tháng</span></div>

	                        <div class="bullet-item" title=""><span class="text">Trả trước 12 tháng : Miễn phí lắp đặt + tặng thêm 02 tháng</span></div>

	                        <a href="tel:0964954222" target="_self" class="button primary is-outline" style="border-radius:99px;">
	                          <span>Bấm Đăng ký</span>
	                        </a>



	                      </div>
	                    </div>
	                  </div>



	                </div>
	              </div>



	              <div id="col-1247591233" class="col medium-3 small-12 large-3">
	                <div class="col-inner">



	                  <div class="pricing-table-wrapper">
	                    <div class="pricing-table ux_price_table text-center box-shadow-3 box-shadow-3-hover">
	                      <div class="pricing-table-header">
	                        <div class="title uppercase strong">GÓI 100M</div>
	                        <div class="price is-xxlarge">100 Mbps</div>
	                      </div>
	                      <div class="pricing-table-items items">


	                        <p><b><span style="color: #ed1c24;"><span style="color: #00a859;">Giá cước :</span><br /> 235.000 VNĐ/ Tháng</span>&nbsp;</b><br /><span style="color: #00a859;"><b>MODEM Wifi 2 Băng Tần<br /><span style="color: #ff6600;">&nbsp;Miễn Phí</span></b></span></p>
	                        <div class="bullet-item" title=""><span class="text">Trả từng tháng : Mất Phí lắp đặt 110.000 VNĐ</span></div>

	                        <div class="bullet-item" title=""><span class="text">Trả trước 6 tháng : Miễn phí lắp đặt + tặng thêm 01 tháng</span></div>

	                        <div class="bullet-item" title=""><span class="text">Trả trước 12 tháng : Miễn phí lắp đặt + tặng thêm 02 tháng</span></div>

	                        <a href="tel:0964954222" target="_self" class="button primary is-outline" style="border-radius:99px;">
	                          <span>Bấm Đăng ký</span>
	                        </a>



	                      </div>
	                    </div>
	                  </div>



	                </div>
	              </div>



	              <div id="col-986717193" class="col medium-3 small-12 large-3">
	                <div class="col-inner">



	                  <div class="pricing-table-wrapper">
	                    <div class="pricing-table ux_price_table text-center box-shadow-3 box-shadow-3-hover">
	                      <div class="pricing-table-header">
	                        <div class="title uppercase strong">GÓI 150M</div>
	                        <div class="price is-xxlarge">150 Mbps</div>
	                      </div>
	                      <div class="pricing-table-items items">


	                        <p><b><span style="color: #ed1c24;"><span style="color: #00a859;">Giá cước :</span><br />&nbsp;290.000 VNĐ/ Tháng </span></b><br /><span style="color: #00a859;"><b>MODEM Wifi 2 Băng Tần<br /><span style="color: #ff6600;">&nbsp;Miễn Phí</span></b></span></p>
	                        <div class="bullet-item" title=""><span class="text">Trả từng tháng : Mất Phí lắp đặt 110.000 VNĐ</span></div>

	                        <div class="bullet-item" title=""><span class="text">Trả trước 6 tháng : Miễn phí lắp đặt + tặng thêm 1 tháng</span></div>

	                        <div class="bullet-item" title=""><span class="text">Trả trước 12 tháng : Miễn phí lắp đặt + tặng thêm 2 tháng</span></div>

	                        <a href="tel:0964954222" target="_self" class="button primary is-outline" style="border-radius:99px;">
	                          <span>Bấm Đăng ký</span>
	                        </a>



	                      </div>
	                    </div>
	                  </div>



	                </div>
	              </div>



	            </div>


	          </div>
	        </div>
	      </div>
	    </div>
	  </div>

	  <div id="maintop">
	    <div class="moduletable ">
	      <div class="module_container">

	        <p style="text-align:center"></p>
	        <p class="aligncenter">
	          @*<img alt="Lắp đặt cáp quang FPT 2019" longdesc="Lắp đặt cáp quang FPT 2019" src="https://fpt123.net/uploads/images/banner/lap-dat-cap-quang-fpt-2019.png" style="width: 100%;" title="Lắp đặt cáp quang FPT 2019">*@
	          <img alt="Lắp đặt cáp quang FPT 2019" longdesc="Lắp đặt cáp quang FPT 2019" src="~/Content/game.jpg" style="width: 100%;display: block;max-width:1020px;
    margin-left: auto;
    margin-right: auto;" title="Lắp đặt cáp quang FPT 2019">
	        </p>
	        <p></p>

	      </div>
	    </div>
	  </div>

	  <div id="content">
	    <div class="row-container visible-first">
	      <div class="container-fluid">
	        <div class="row-fluid">



	          <div class="moduletable pricing_detailed  span12">

	            <div class="module_container">
	              <h1 style="text-align:center" class="heading-style-1 visible-first">INTERNET DOANH NGHIỆP - QUÁN GAME</h1>

	              <p style="text-align:center">     </p>

	              <div class="cols-3 mod-newsflash-adv mod-newsflash-adv__pricing_detailed" id="module_225">
	                <div class="row-fluid">
	                  <div class="item_content"><!-- Item title --></div>
	                </div>
	              </div>
	            </div>


	            <div class="row">


	              <div id="col-1650713807" class="col medium-3 small-12 large-3">
	                <div class="col-inner">



	                  <div class="pricing-table-wrapper">
	                    <div class="pricing-table ux_price_table text-center box-shadow-2 box-shadow-3-hover">
	                      <div class="pricing-table-header">
	                        <div class="title uppercase strong">GÓI 200M</div>
	                        <div class="price is-xxlarge">200Mbps</div>
	                      </div>
	                      <div class="pricing-table-items items">


	                        <p><b><span style="color: #ed1c24;"><span style="color: #00a859;">Giá cước</span><br /> 490.000 VNĐ/ Tháng </span></b><br /><span style="color: #00a859;"><b>Trang bị MODEM Wifi 4 Cổng <br /><span style="color: #ff6600;">Miễn Phí</span></b></span></p>
	                        <div class="bullet-item" title=""><span class="text">Gói cước 200Mbps này không áp dụng trả từng tháng</span></div>

	                        <div class="bullet-item" title=""><span class="text">Trả trước 12 tháng : Miễn phí vật tư</span></div>

	                        <div class="bullet-item" title=""><span class="text">Trả trước 24 tháng : Miễn phí vật tư + Tặng 02 Tháng</span></div>

	                        <a href="tel:0964954222" target="_self" class="button primary is-outline" style="border-radius:99px;">
	                          <span>Bấm Đăng ký</span>
	                        </a>



	                      </div>
	                    </div>
	                  </div>



	                </div>
	              </div>



	              <div id="col-1902414683" class="col medium-3 small-12 large-3">
	                <div class="col-inner">



	                  <div class="pricing-table-wrapper">
	                    <div class="pricing-table ux_price_table text-center box-shadow-2 box-shadow-3-hover">
	                      <div class="pricing-table-header">
	                        <div class="title uppercase strong">GÓI 250M</div>
	                        <div class="price is-xxlarge">250 Mbps</div>
	                      </div>
	                      <div class="pricing-table-items items">


	                        <p style="text-align: center;"><b><span style="color: #ed1c24;"><span style="color: #00a859;">Giá cước</span><br /> 545.000 VNĐ/ Tháng </span></b><br /><span style="color: #00a859;"><b>Trang bị MODEM Wifi 4 Cổng <br /><span style="color: #ff6600;">Miễn Phí</span></b></span></p>
	                        <div class="bullet-item" title=""><span class="text">Trả sau từng tháng : Mất phí lắp đặt 550.000 VNĐ Hoặc 1.210.000 VNĐ</span></div>

	                        <div class="bullet-item" title=""><span class="text">Trả trước 12 tháng: Miễn phí vật tư + Tặng 01 tháng</span></div>

	                        <div class="bullet-item" title=""><span class="text">Trả trước 24 tháng: Miễn phí vật tư + Tặng 02 tháng</span></div>

	                        <a href="tel:0964954222" target="_self" class="button primary is-outline" style="border-radius:99px;">
	                          <span>Bấm Đăng ký</span>
	                        </a>



	                      </div>
	                    </div>
	                  </div>



	                </div>
	              </div>



	              <div id="col-1822059332" class="col medium-3 small-12 large-3">
	                <div class="col-inner">



	                  <div class="pricing-table-wrapper">
	                    <div class="pricing-table ux_price_table text-center box-shadow-2 box-shadow-3-hover">
	                      <div class="pricing-table-header">
	                        <div class="title uppercase strong">GÓI 400M</div>
	                        <div class="price is-xxlarge">400Mbps</div>
	                      </div>
	                      <div class="pricing-table-items items">


	                        <p style="text-align: center;"><b><span style="color: #ed1c24;"><span style="color: #00a859;">Giá cước</span><br /> 1.410.000 VNĐ/ Tháng </span></b><br /><span style="color: #00a859;"><b>Trang bị VIRGO 2925 + 1 UNIFI AC LIFE <br /><span style="color: #ff6600;">Miễn Phí</span></b></span></p>
	                        <div class="bullet-item" title=""><span class="text">Trả sau từng tháng : Mất phí lắp đặt 3.000.000 VNĐ hoặc 3.300.000 VNĐ</span></div>

	                        <div class="bullet-item" title=""><span class="text">Trả trước 12 tháng : Miễn phí vật tư + Tặng 01 tháng</span></div>

	                        <div class="bullet-item" title=""><span class="text">Trả trước 24 tháng: Miễn phí vật tư + Tặng 02 tháng</span></div>

	                        <a href="tel:0964954222" target="_self" class="button primary is-outline" style="border-radius:99px;">
	                          <span>Bấm Đăng ký</span>
	                        </a>



	                      </div>
	                    </div>
	                  </div>



	                </div>
	              </div>



	              <div id="col-470047684" class="col medium-3 small-12 large-3">
	                <div class="col-inner">



	                  <div class="pricing-table-wrapper">
	                    <div class="pricing-table ux_price_table text-center box-shadow-2 box-shadow-3-hover">
	                      <div class="pricing-table-header">
	                        <div class="title uppercase strong">GÓI 500M</div>
	                        <div class="price is-xxlarge">500 Mbps</div>
	                      </div>
	                      <div class="pricing-table-items items">


	                        <p style="text-align: center;"><b><span style="color: #ed1c24;"><span style="color: #00a859;">Giá cước</span><br /> 8.125.000 VNĐ/ Tháng </span></b><br /><span style="color: #00a859;"><b>Trang bị VIRGO 300B + 1 UNIFI AC LIFE PRO <br /><span style="color: #ff6600;">Miễn Phí</span></b></span></p>
	                        <div class="bullet-item" title=""><span class="text">Trả sau từng tháng : Mất phí lắp đặt 6.000.000 vnđ hoặc 7.150.000 vnđ</span></div>

	                        <div class="bullet-item" title=""><span class="text">Trả trước 12 tháng : Miễn phí vật tư + Tặng 01 tháng</span></div>

	                        <div class="bullet-item" title=""><span class="text">Trả trước 24 tháng : Miễn phí vật tư + Tặng 02 tháng</span></div>

	                        <a href="tel:0964954222" target="_self" class="button primary is-outline" style="border-radius:99px;">
	                          <span>Bấm Đăng ký</span>
	                        </a>



	                      </div>
	                    </div>
	                  </div>



	                </div>
	              </div>



	            </div>


	          </div>
	        </div>
	      </div>
	    </div>
	  </div>

	  @*<div id="showcase">
	    <div class="moduletable ">
	      <div class="module_container">
	        <div id="swiper-slider_210" class="swiper-container swiper-slider swiper-container-horizontal" data-min-height="420px" data-height="44.921875%" data-autoplay="false" data-loop="true" data-slide-effect="slide" style="height: 893.047px;">
	          <div class="swiper-wrapper" style="transform: translate3d(-3976px, 0px, 0px); transition-duration: 0ms;">
	            <div class="swiper-slide swiper-slide-duplicate" data-slide-bg="https://fpt123.net/theme/fpt123/images/slider/slide-1.jpg" data-swiper-slide-index="0" style="background-image: url(&quot;https://fpt123.net/theme/fpt123/images/slider/slide-1.jpg&quot;); background-size: cover; width: 1988px;">
	              <div class="swiper-slide-caption not-animated" data-caption-animate="fadeIn" data-caption-delay="200">
	                <div class="camera_caption ">




	                  <div class="title">
	                    <strong>FPT PLAY BOX</strong>
	                    <span>TV BOX HÀNG ĐẦU VIỆT NAM</span>
	                  </div>

	                  <p>
	                    Truy cập Internet ngay trên Tivi<br>
	                    Không cước thuê bao tháng<br>
	                    Dùng cho tất cả các nhà mạng
	                  </p>

	                  <a href="/fpt-play-box.html" class="btn material-design-right244">Xem chi tiết</a>
	                  <img src="https://fpt123.net/uploads/images/fpt-play-box/thiet-bi-giai-tri-fpt-play-box.png" class="position">
	                  <!-- <img src="https://fpt123.net/theme/fpt123/images/slider/thumb-1.png" class="position" alt=""/>	 -->
	                  <!-- Read More link -->

	                </div>
	              </div>
	            </div>
	            <div class="swiper-slide swiper-slide-duplicate swiper-slide-prev" data-slide-bg="https://fpt123.net/theme/fpt123/images/slider/slide-3.jpg" data-swiper-slide-index="1" style="background-image: url(&quot;https://fpt123.net/theme/fpt123/images/slider/slide-3.jpg&quot;); background-size: cover; width: 1988px;">
	              <div class="swiper-slide-caption not-animated" data-caption-animate="fadeIn" data-caption-delay="200">
	                <div class="camera_caption ">




	                  <div class="title">
	                    <strong>CHÍNH SÁCH VÀ THỦ TỤC</strong>
	                    <span>CÁC THỦ TỤC CẦN BIẾT CHO KHÁCH HÀNG ĐANG SỬ DỤNG INTERNET FPT</span>
	                  </div>

	                  <p>Chuyển địa điểm, chuyển gói cước, chuyển tên hợp đồng, đổi - mua thiết bị Modem</p>

	                  <a href="ho-tro-ky-thuat/chinh-sach-thu-tuc.html" class="btn material-design-right244">Xem chi tiết</a>

	                  <img src="https://fpt123.net/theme/fpt123/images/slider/thumb-3.png" class="position" alt="">
	                  <!-- Read More link -->

	                </div>
	              </div>
	            </div>


	            <div class="swiper-slide swiper-slide-active" data-slide-bg="https://fpt123.net/theme/fpt123/images/slider/slide-1.jpg" data-swiper-slide-index="0" style="background-image: url(&quot;https://fpt123.net/theme/fpt123/images/slider/slide-1.jpg&quot;); background-size: cover; width: 1988px;">
	              <div class="swiper-slide-caption fadeIn animated" data-caption-animate="fadeIn" data-caption-delay="200">
	                <div class="camera_caption ">




	                  <div class="title">
	                    <strong>FPT PLAY BOX</strong>
	                    <span>TV BOX HÀNG ĐẦU VIỆT NAM</span>
	                  </div>

	                  <p>
	                    Truy cập Internet ngay trên Tivi<br>
	                    Không cước thuê bao tháng<br>
	                    Dùng cho tất cả các nhà mạng
	                  </p>

	                  <a href="/fpt-play-box.html" class="btn material-design-right244">Xem chi tiết</a>
	                  <img src="https://fpt123.net/uploads/images/fpt-play-box/thiet-bi-giai-tri-fpt-play-box.png" class="position">
	                  <!-- <img src="https://fpt123.net/theme/fpt123/images/slider/thumb-1.png" class="position" alt=""/>	 -->
	                  <!-- Read More link -->

	                </div>
	              </div>
	            </div>
	            <div class="swiper-slide swiper-slide-next" data-slide-bg="https://fpt123.net/theme/fpt123/images/slider/slide-3.jpg" data-swiper-slide-index="1" style="background-image: url(&quot;https://fpt123.net/theme/fpt123/images/slider/slide-3.jpg&quot;); background-size: cover; width: 1988px;">
	              <div class="swiper-slide-caption not-animated" data-caption-animate="fadeIn" data-caption-delay="200">
	                <div class="camera_caption ">




	                  <div class="title">
	                    <strong>CHÍNH SÁCH VÀ THỦ TỤC</strong>
	                    <span>CÁC THỦ TỤC CẦN BIẾT CHO KHÁCH HÀNG ĐANG SỬ DỤNG INTERNET FPT</span>
	                  </div>

	                  <p>Chuyển địa điểm, chuyển gói cước, chuyển tên hợp đồng, đổi - mua thiết bị Modem</p>

	                  <a href="ho-tro-ky-thuat/chinh-sach-thu-tuc.html" class="btn material-design-right244">Xem chi tiết</a>

	                  <img src="https://fpt123.net/theme/fpt123/images/slider/thumb-3.png" class="position" alt="">
	                  <!-- Read More link -->

	                </div>
	              </div>
	            </div>



	          </div>
	          <!-- Swiper Navigation -->
	          <div class="swiper-button-prev"></div>
	          <div class="swiper-button-next"></div>
	        </div>
	      </div>
	    </div>
	  </div>*@

	  <div id="maintop">
	    <div class="moduletable ">
	      <div class="module_container">
	        <div class="parallax parallax__" data-speed="0.8" data-direction="true" data-mobile="false" data-blur="false">
	          <div class="parallax_image" style="background-image: url(&quot;http://lapmanghungyen.com/wp-content/uploads/2020/12/unnamed-10-1024x807.jpg&quot;); height: 947px; transform: translate3d(0px, -149.638px, 0px);"></div>
			<div class="parallax_cnt">

	            <div class="row-container visible-first">
	              <div class="container">
	                <div class="row">
	                  <div class="moduletable center span12">
	                    <h1 class="heading-style-3 visible-first"><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first" style="color: red;">FPT PLAY BOX</span></h1>
	                    <div class="mod-article-single mod-article-single__ center" id="module_223">
	                      <div class="item__module visible-first" id="item_157">
	                        <!-- Item Title -->
	                        <h5 class="item-title heading-style-5 visible-first">
							  <span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first" style="color: #00a859;">
							XEM BÓNG ĐÁ MIỄN PHÍ<br>XEM TRUYỀN HÌNH MIỄN PHÍ<br>KHO PHIM FULL HD PHONG PHÚ<br>ABC PLAY CÙNG BÉ HỌC ĐIỀU HAY<br>TRUY CẬP INTERNET NGAY TRÊN TIVI<br>KHO ỨNG DỤNG KHỔNG LỒ TRÊN FPT PLAY BOX+
				</span>
						  </h5>

	                        <!-- Intro Text -->
	                        <div class="item_introtext"></div>
	                        <a class="btn btn-info readmore" href="/dang-ky-internet.html"><span>Xem ngay</span></a>
	                      </div>
	                    </div>
	                  </div>
	                </div>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>

	  <!-- footer -->
	  <div id="footer">
	    <div class="row-container">
	      <div class="container-fluid">
	        <div class="row-fluid">




	          <div class="moduletable span4">

	            <h6 class="widget-title heading-style-6">Liên hệ </h6>
	            <div class="widget-content">
	              <p><img alt="" src="https://fpt123.net/uploads/images/icon/logo/fpt_logo.png" style="width:200px"></p>

	              <ul>
	                <li>CÔNG TY CP VIỄN THÔNG FPT</li>
	                <li>Hotline: <a href="tel: 0964954222">0964.954.222</a> - <a href="tel: 0964954222">0964.954.222</a></li>
	                <li>Thời gian làm việc: Thứ 2 - CN</li>
	                <li><a href="https://fpt123.net/dia-chi-vpgd.html">Văn phòng giao dịch FPT Telecom</a></li>
	              </ul>
	            </div>

	          </div>



	          <div class="moduletable span4">

	            <h6 class="widget-title heading-style-6">Dịch vụ - Sản phẩm</h6>
	            <div class="widget-content">
	              <ul>
	                <li>Internet cáp quang FPT</li>
	                <li>FPT Play Box+</li>
	              </ul>
	            </div>

	          </div>



	          <div class="moduletable span4">

	            <h6 class="widget-title heading-style-6">Kết nối</h6>
	            <div class="widget-content">
	              <p>FPT Telecom</p>
	            </div>

	          </div>



	        </div>
	      </div>
	    </div>
	  </div>


	  <div id="push"></div>
	</div>
  </div>
  <div id="footer-wrapper">
    <div class="footer-wrapper-inner">
      <!-- Copyright -->
      <div id="copyright" role="contentinfo">
        <div class="row-container">
          <div class="container-fluid">
            <div class="row-fluid">

              <div class="copyright span12">
                Copyright © 2011 - 2021 FPT Telecom
              </div>
              <!-- {%FOOTER_LINK} -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="back-top" style="display: block;">
    <a href="javascript:void()"><span> </span> </a>
  </div>







  <script>
	(function (i, s, o, g, r, a, m) {
	  i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
		(i[r].q = i[r].q || []).push(arguments)
	  }, i[r].l = 1 * new Date(); a = s.createElement(o),
		m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
	})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-38573488-1', 'auto');
  ga('send', 'pageview');

  </script>

  <!--Kiểm tra điều kiện-->




  <div id="clicktocallback" class="modal" style="display: none">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="row-fluid">
        <div class="span12">
          <span title="Đóng lại" class="close" id="closecallback">X</span>
        </div>
        <div class="span12">
          <div id="callautoform">
            <div id="ContentInfo">
              <div class="input-call">

                <div class="row-fluid">

                  <div class="span6">
                    <div class="form-group full-width-1" id="wrap-namephone">
                      <input type="text" name="namephone" id="namephone" placeholder="Họ tên">
                    </div>
                    <div class="form-group" id="wrap-phonenumberautocall">
                      <input type="text" name="phone" id="phonenumberautocall" placeholder="Số điện thoại">

                    </div>

                  </div>
                  <div class="span6">
                    <div class="form-group" id="wrap-content-call">
                      <input type="text" name="content-call" id="content-call" placeholder="Nội dung yêu cầu">

                    </div>
                    <button type="button" id="button-call-me">Yêu cầu gọi lại</button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div id="modalCallFree" class="modal" style="display: none">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="row-fluid">
        <div class="span12 modalCallFree-heading">
          <div class="logo">Cuộc gọi miễn phí</div>
          <div title="Đóng lại" class="close" id="closecallfree">X</div>
        </div>
        <div class="span12" style="padding: 10px !important;">

          <div class="modalCallFree-content">

            <div class="span12 modalCallFree-title">
              <div class="left">
                <img src="https://fpt123.net/images/call-center-girl.png">
              </div>
              <div class="right">
                <p>Tư vấn viên đã sẳn sàng hỗ trợ, bấm gọi để bắt đầu trò chuyện.</p>
                <div class="start-call" id="start-call">

                  <div class="start-call-login" onclick="return makeCall()">

                    <div class="wrap-img-icon">
                      <img src="https://fpt123.net/images/phone.svg" width="30">
                      <div class="wrap-text-call">
                        Gọi miễn phí
                      </div>
                    </div>


                  </div>
                  <div class="start-call-login call-back" onclick="return callMeBack()">
                    <div class="wrap-img-icon ">
                      <img src="https://fpt123.net/images/incoming-call.png" width="30">
                      <div class="wrap-text-call">
                        Yêu cầu gọi lại
                      </div>
                    </div>

                  </div>
                  <div class="start-call-login call-phoneNumer" onclick="window.location.href = 'tel:0964954222';">
                    <div class="wrap-img-icon ">
                      <img src="https://fpt123.net/images/phone.svg" width="30">
                      <div class="wrap-text-call">
                        Gọi thường
                      </div>
                    </div>

                  </div>

                </div>

                <div class="connected-call" id="connected-call">
                  <div id="status-call"></div>
                  <div class="start-call-login end-call" onclick="return hangupCall()">

                    <div class="wrap-img-icon ">
                      <img src="https://fpt123.net/images/end-call.png" width="30">
                      <div class="wrap-text-call">
                        Kết thúc
                      </div>
                    </div>

                  </div>

                </div>

              </div>

            </div>
            <div class="span12 modalCallFree-footer">

              <p>
                Vui lòng kết nối tai nghe để trò chuyện
                (Hoặc hệ thống sẽ sử dụng loa và microphone trên thiết bị của bạn).
              </p>

            </div>

          </div>

        </div>
      </div>

    </div>

  </div>
  <script src="https://sp.zalo.me/plugins/sdk.js"></script>
  <div id="app" class="zs"></div>
  <script async="" defer="" crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&amp;autoLogAppEvents=1&amp;version=v7.0&amp;appId=1749593375069931" nonce="EVRAFtDl"></script>

  <link rel="stylesheet" href="https://fpt123.net/zchat/zchat-styles.css?v=28">

  <style>


	.zChat .window .inputArea {
	height: 50px !important;
	}

	.zChat .window .am-navbar .company .name {
	font-weight: 600;
	height: 20px !important;
	}

	.action-custom {
	height: 40px !important;
	}

	.action-custom .top-button span {
	line-height: 15px !important;
	}

	@@media (max-width: 740px) {
	.float-icon {
	right: 0;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 65px !important;
	background: #e6e6e6;
	display: flex;
	}

	.float-icon ul li a {
	display: flex;
	justify-content: center;
	align-items: center;
	}

	.float-icon ul li img {
	width: 20px;
	}

	.float-icon ul li span {
	line-height: 15px;
	}
	}
  </style>


  <div _ngcontent-lud-c39="" class="float-icon">
    <ul _ngcontent-lud-c39="">

      <li _ngcontent-lud-c39="">
        <a _ngcontent-lud-c39="" target="_blank" href="tel:0964954222">
          <img _ngcontent-lud-c39="" src="https://fpt123.net/images/phone-icon.gif?v=3">
        </a>
        <span _ngcontent-lud-c39="">Gọi điện</span>
      </li>

      <li _ngcontent-lud-c39="">
        @*<a _ngcontent-lud-c39="" target="_blank" href="https://m.me/fpt123">
			<img _ngcontent-lud-c39="" src="https://fpt123.net/images/messenger-icon.png">
		  </a>*@
        <a _ngcontent-lud-c39="" target="_blank" href="https://m.me/Duy0967433309">
          <img _ngcontent-lud-c39="" src="https://fpt123.net/images/messenger-icon.png">
        </a>
        <span _ngcontent-lud-c39="">Messenger</span>
      </li>

      <li _ngcontent-lud-c39="">
        <a _ngcontent-lud-c39="" href="unsafe:sms:0964954222;?&amp;body=Xin%20chao!">
          <img _ngcontent-lud-c39="" src="https://fpt123.net/images/comment-icon-2.png">
        </a><span _ngcontent-lud-c39="">Nhắn tin</span>
      </li>

      <li _ngcontent-lud-c39="">
        <a _ngcontent-lud-c39="" target="_blank" href="https://zalo.me/0964954222">
          <img _ngcontent-lud-c39="" src="https://fpt123.net/images/icons/zalo-chat.png?v=1">
        </a>
        <span _ngcontent-lud-c39="">Zalo</span>
      </li>

      <li _ngcontent-lud-c39="">
        @*<badge _ngcontent-lud-c39="" class="notifyCount am-badge am-badge-not-a-wrapper"><sup class="am-badge-text"><span>1</span></sup></badge>*@
        <a _ngcontent-lud-c39="" href="#GuiLienHe">
          <img _ngcontent-lud-c39="" src="https://fpt123.net/images/super-chat.gif">
        </a>
        <span _ngcontent-lud-c39="">Nhắc gọi lại</span>
      </li>

    </ul>
  </div>







</body>
<div style="position: absolute; top: 0px;"></div>
</html>