
<div id="header">
  <div class="row-container visible-first">
    <div class="container-fluid">
      <div class="row-fluid">
        <!-- Logo -->
        <div id="logo" class="span2">
          <a id="logoLink" href="/">
            <img id="logosrc" src="https://fpt123.net/uploads/fpt_logo33.png" alt="">

          </a>


        </div>

        <nav class="moduletable home_menu  span10">
          <div class="module_container">
            <div class="icemegamenu">


              <ul id="icemegamenu">
                <li id="iceMenu_1" class="iceMenuLiLevel_1 ">
                  <a href="/" class="iceMenuTitle ">
                    <span class="icemega_title icemega_nosubtitle">Trang chủ</span>
                  </a>
                </li>

                <li id="iceMenu_3" class="iceMenuLiLevel_1 mzr-drop parent  fullwidth">
                  <a href="https://fpt123.net/fpt-play-box.html" class="iceMenuTitle ">
                    <span class="icemega_title icemega_nosubtitle">Internet cáp quang FPT</span>
                  </a>

                  @*<ul class="icesubMenu icemodules sub_level_1" style="width:280px">
                    <li>
                      <div style="width:280px" class="iceCols">
                        <ul>
                          <li id="iceMenu_336" class="iceMenuLiLevel_2 ">
                            <a href="https://fpt123.net/fpt-play-box-s550.html" class=" iceMenuTitle ">
							  <span class="icemega_title icemega_nosubtitle">Internet cáp quang FPT</span>
                            </a>
                          </li>

                        </ul>
                      </div>
                    </li>
                    <li>
                      <div style="width:280px" class="iceCols">
                        <ul>
                          <li id="iceMenu_336" class="iceMenuLiLevel_2 ">
                            <a href="https://fpt123.net/fpt-play-box-s400.html" class=" iceMenuTitle ">
							  <span class="icemega_title icemega_nosubtitle">Internet cáp quang FPT</span>
                            </a>
                          </li>

                        </ul>
                      </div>
                    </li>
                    <li>
                      <div style="width:280px" class="iceCols">
                        <ul>
                          <li id="iceMenu_336" class="iceMenuLiLevel_2 ">
                            <a href="https://fpt123.net/fpt-play-box-s335.html" class=" iceMenuTitle ">
							  <span class="icemega_title icemega_nosubtitle">Internet cáp quang FPT</span>
                            </a>
                          </li>

                        </ul>
                      </div>
                    </li>
                  </ul>*@

                </li>

                <li id="iceMenu_4" class="iceMenuLiLevel_1 mzr-drop parent  fullwidth">
                  <a href="https://fpt123.net/camera-fpt.html" class="iceMenuTitle ">
                    <span class="icemega_title icemega_nosubtitle">FPT Play Box+</span>
                  </a>

                  @*<ul class="icesubMenu icemodules sub_level_1" style="width:280px">
                    <li>
                      <div style="width:280px" class="iceCols">
                        <ul>
                          <li id="iceMenu_336" class="iceMenuLiLevel_2 ">
                            <a href="https://fpt123.net/camera-fpt/camera-fpt-indoor-trong-nha.html" class=" iceMenuTitle ">
							  <span class="icemega_title icemega_nosubtitle">FPT Play Box+</span>
                            </a>
                          </li>

                        </ul>
                      </div>
                    </li>
                    <li>
                      <div style="width:280px" class="iceCols">
                        <ul>
                          <li id="iceMenu_336" class="iceMenuLiLevel_2 ">
                            <a href="https://fpt123.net/camera-fpt/camera-fpt-outdoor-ngoai-troi.html" class=" iceMenuTitle ">
							  <span class="icemega_title icemega_nosubtitle">FPT Play Box+</span>
                            </a>
                          </li>

                        </ul>
                      </div>
                    </li>
                  </ul>*@

                </li>

                <li id="iceMenu_7" class="iceMenuLiLevel_1 ">
                  <a href="https://fpt123.net/lien-he.html" class="iceMenuTitle ">
                    <span class="icemega_title icemega_nosubtitle">Liên hệ</span>
                  </a>
                </li>



              </ul>

            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
