<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowStyle.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
      <WindowStyle.Properties.Settings>
        <setting name="ColorXanhDam" serializeAs="String">
          <value>#FF1B68B6</value>
        </setting>
        <setting name="ColorXanhNhat" serializeAs="String">
          <value>#FF3C72A2</value>
        </setting>
        <setting name="ColorXanhNhatHon" serializeAs="String">
          <value>#FF628EB5</value>
        </setting>
      </WindowStyle.Properties.Settings>
    </userSettings>

</configuration>