<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="ConnetionAutoCare" connectionString="Data Source=210.245.94.8;Initial Catalog=Autocare_Sercurity;Persist Security Info=True;User ID=userautocaresercurity;Password=87fs7df7Uyfysd*((fslls"/>-->
    <!--<add name="ConnetionAutoCare" connectionString="Data Source=210.245.94.8;Initial Catalog=Autocare_Sercurity;Persist Security Info=True;User ID=admin;Password=12"/>-->
    <!--<add name="ConnectionQuanLyLopHoc" connectionString="Data Source=qt;Initial Catalog=QuanLyTrungTam;User ID=sa;Password=1234$"/>-->
    <add name="ConnectionThuocBac" connectionString="Data Source=qt\qt;Initial Catalog=ThuocBac;User ID=sa;Password=1234$"/>
  <!--<add name="ConnectionThuocBac" connectionString="Data Source=.\SQLEXPRESS;attachdbfilename=c:\Program Files (x86)\SetupTHUOCBAC\ThuocBac.mdf;Integrated Security=true;user instanced=true;connect timeout=30"/>-->
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
